*{
    margin:0;
    padding:0;
}
    body{
        margin:0;
        padding:0;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRnWe7S6QMu0cWXXWfrD4l43xl8MnteE5LELCGsH1Q1D9OcNdI1V8f6PgJHU_bq-EIDZk&usqp=CAU);
    background-repeat:no-repeat;
    background-size: cover;
    border: 10px double greenyellow;
    border-style:ridge;
   
}
.box1 {
    border: 10px solid red;
    height: 100px;
    width: 350px;
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
    border-radius: 30px;
    background-color: black;
    color: white;
    padding: 29px 37px 102px 29px;
    box-sizing: border-box;
    margin: 50px;
   
}
.hmrcs{
    height: 10px;
    width: 325px;
    font-size: 25px;
    font-style: italic;
    border: 5px solid red;
    text-align: center;
    padding: 45px 50px 25px 87px;
    margin: 40px 40px 40px 40px;
    background-color: black;
    color: white;
    border-radius: 40px 40px 40px 40px;
    position: relative;
    display: inline-block;
    bottom: 225px;
    left: 230px;
}


.hmrcs1{
        height: 75px;
    width: 211px;
    font-size: 21px;
    font-style: italic;
    border: 5px solid red;
    padding: 40px 80px 30px 80px;
    margin: 26px 25px 25px 950px;
    background-color: black;
    color: white;
    border-radius: 40px;
    position: relative;
    bottom: 405px;
    right: 150px;
}

.circle{
    height: 294px;
    width: 286px;
    font-style: italic;
    font-size: 20px;
    border-radius: 50%;
    background-color: lightseagreen;
    border: 5px solid gray;
    padding: 39px 42px 31px 43px;
    text-align: center;
    margin: 60px 66px 30px;
    font-weight: bold;
    position: relative;
    bottom: 242px;
    right: 28px;
}
.line{
    color:white;
    
}


.line1{
    color:white;
    width:380px;
    position: inherit;
    right: 50px;
}
form{
    border: 10px dashed red;
    width: 350px;
    font-size: 18px;
    text-align: center;
    color: brown;
    padding: 20px;
    position: relative;
    bottom: 794px;
    left: 475px;
}

.hmrcs2{
    height: 30px;
    width: 325px;
    font-size: 30px;
    font-style: italic;
    border: 5px solid red;
    text-align: center;
    padding: 40px 40px;
    margin: 40px 40px 40px 40px;
    background-color: black;
    color: white;
    border-radius: 40px 40px 40px 40px;
    position: relative;
    display: inline-block;
    bottom:700px;
    left: 230px;
}

.line2{
    color:brown;
    position: relative;
    bottom:700px;
    
}
.box{
    height: 210px;
    width: 200px;
    color: blue;
      font-size: 21px;
    font-style: italic;
    border: 5px solid green;
    padding: 30px 40px 40px 40px;
    margin: 43px 25px 25px 25px;
    background-color:aqua;
    border-radius: 40px;
    display: inline-block;
   
     position: relative;
    bottom:700px;
    left:100px
    }
